
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  box-sizing: border-box;
  padding: 0;
}

/* Nav */
.scale-in-tr {
	-webkit-animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}


.navbar {
  /* padding: 2rem 6rem; */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.nav-links{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: #f1356d;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

.nav-menu{
  display: none;
  position: relative;
  margin: 1rem;
}

.nav-menu svg{
  cursor: pointer;
}

.menu-links{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background-color: aquamarine;
  padding: 2rem;
  position: absolute;
  top: 20px;
  right: 0;
  margin-top: 1rem;
  min-width: 180px;
  border-radius: 5px;
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 10px;
  }
  
  
  .links{
    display: none;
  }

  .nav-menu{
    display: flex;
  }

  svg{
    margin-left: 16px;
  }
}

.content {
  max-width: 1024px;
  margin: 40px auto;
  padding: 20px;
}
