
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Inter";
  color: #333;
  box-sizing: border-box;
  padding: 0;
}



